body {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    font-family: 'Oxygen', sans-serif;
}

/*.frame-main {
    width: 1440px;
    height: 2600px;
}*/

/*.rectangle {
    width: 1440px;
    height: 74px;
}*/

.navigation {
    width: 65%;
    height: 40px;
    top: 17px;
    left: 17%;
    position: relative;
}

.escape-button {
    width: 92px;
    height: 26px;
    top: 3px;
    font-family: 'Lora', serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 26px;
}

.Navigation-Bar ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 377px;
    height: 40px;
    left: 563px;
    position: relative;
    bottom: 20px;
}

.home,
.categories,
.about,
.contact {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.6px;
    text-align: left;
    text-transform: uppercase;
}

.categories {
    width: 78px;
    height: 20px;
    bottom: 20px;
    left: 80px;
    position: relative;
}

.about {
    font-size: 11px;
    bottom: 40px;
    left: 198px;
    width: 41px;
    height: 20px;
    position: relative;
}

.contact {
    bottom: 60px;
    width: 58px;
    height: 20px;
    left: 279px;
    position: relative;
}

.header {
    width: 940px;
    height: 159px;
    top: 52px;
    left: 250px;
    position: relative;
}

h1 {
    margin: 0;
    width: 498px;
    height: 51px;
    bottom: 7px;
    left: 221px;
    font-family: 'Lora', serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 51px;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
}

h2 {
    width: 504px;
    height: 20px;
    left: 218px;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    position: relative;
    color: #2E2E2EA1;
}

img {
    width: 1440px;
    height: 534px;
    top: 90px;
    border-radius: 3px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.text-main {
    position: relative;
    width: 1440px;
    height: 1706px;
    top: 90px;
}

.text-main p {
    margin: 0;
    position: relative;
    width: 960px;
    height: 1431px;
    left: 240px;
    top: 140px;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: #101315;
}

.frame-bottom {
    color: white;
    width: 1440px;
    height: 89px;
}

.frame-bottom img {
    width: 1440px;
    height: auto;
    display: block;
    top: 0;
}

.Navigation-Bottom {
    width: 940px;
    height: 40px;
    bottom: 61px;
    left: 250px;
    position: relative;
    z-index: 1;
}

.Navigation-Bottom .Navigation-Bar li:not(.escape) {
    color: #FFFFFF99;
}

.Navigation-Back {
    width: 1440px;
    height: 89px;
    position: relative;
    bottom: 129px;
    background: #232F3899;
}
.escape {
    color: white;
    font-family: 'Lora', serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}

/* вообще убрать все упоминания 1440 
до 100 пикселей можно оставить